[submodule "submodules/yss-strategic-design-harness"]
	path = submodules/yss-strategic-design-harness
	url = https://github.com/iloveZzz/yss-harness-design-agent.git
[submodule "submodules/yss-harness-dev-agent"]
	path = submodules/yss-harness-dev-agent
	url = https://github.com/iloveZzz/yss-harness-dev-agent.git
[submodule "submodules/create-yss-spec"]
	path = submodules/create-yss-spec
	url = https://github.com/iloveZzz/create-yss-spec.git
[submodule "submodules/create-yss-strategic-design"]
	path = submodules/create-yss-strategic-design
	url = https://github.com/iloveZzz/create-yss-strategic-design.git
