package ${base_package}.rest.convertor;

import com.yss.cloud.dto.result.PageResult;
${application_type_imports}
import ${base_package}.rest.dto.request.${domain_class}CreateRequest;
import ${base_package}.rest.dto.request.${domain_class}UpdateRequest;
import ${base_package}.rest.dto.request.${domain_class}PageRequest;
import ${base_package}.rest.dto.response.${domain_class}Response;
import org.mapstruct.Mapper;
import java.util.List;

@Mapper(componentModel = "spring")
public interface ${web_convertor_class} {

    ${domain_class}CreateCommand toCreateCommand(${domain_class}CreateRequest source);

    ${domain_class}UpdateCommand toUpdateCommand(${domain_class}UpdateRequest source);

    ${domain_class}PageQuery toPageQuery(${domain_class}PageRequest source);

    ${domain_class}Response toResponse(${domain_class}Result source);

    List<${domain_class}Response> toResponses(List<${domain_class}Result> source);

    default PageResult<${domain_class}Response> toResponsePage(PageResult<${domain_class}Result> source) {
        return PageResult.of(
                toResponses(source.getData()),
                source.getTotalCount(),
                source.getPageSize(),
                source.getPageIndex()
        );
    }
}
