package {{base_package}}.client.dto.cmd;

import com.yss.cloud.dto.CommandDTO;
import lombok.Data;

import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;

@Data
public class UserUpdateCmd extends CommandDTO {

    @NotNull(message = "ID不能为空")
    private Long id;

    @Size(max = 50, message = "用户名长度不能超过50")
    private String username;

    private Integer status;

    private String description;
}
