package {{base_package}}.repository;

import com.yss.cloud.mybatis.support.BasePlusRepository;
import {{base_package}}.repository.entity.UserPO;

public interface UserRepository extends BasePlusRepository<UserPO> {
}
